<!--
  ~ Licensed to STRATIO (C) under one or more contributor license agreements.
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  The STRATIO (C) licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<div class="wrap fill">
  <!-- top menu -->
  <div class="note-top-bar" ng-controller="TopBarCtrl">
    <header class="navbar navbar-inverse navbar-fixed-top ">
      <div class="navbar-header ">
        <a href="#" class="navbar-brand">
          <img src="images/stratioNotebookLogo.png" alt="Stratio Notebook logo" width="150">
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right ">
        <li class="server-status">
          <i class="fa fa-circle"
             ng-class="{'server-connected':connected, 'server-disconnected':!connected }"></i>
        </li>
        <li class="note-usr dropdown"><a href="#" class="dropdown-toggle"> <span
          class="avatar pull-left"> <img src="images/zepLogo.png" width="30"> </span>
          {{globals.currentUser.username}} <b
            class="caret"></b> </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><span ng-click="openSettings()">Settings</span></li>
            <!--<li><a href="profile.html">Profile</a></li>-->
            <!--<li><a href="#"> <span class="badge bg-danger pull-right">3</span> Notifications </a></li>-->
            <li><span ng-click="openHelp()">Help</span></li>
            <li class="divider"></li>
            <li><a href="/" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </header>
  </div>
  <section class="fill">
    <!-- notebook main content -->
    <section id="main-container" ng-controller="NotebookSelectorCtrl">
      <aside id="note-list" class="note-list" ng-if="!asIframe">

        <section>
          <header class="header note-list-header clearfix">
                        <span class="pull-right">
                    <button
                      class="btn btn-dark btn-icon" id="refresh-note-list" data-toggle="tooltip"
                      data-placement="right" ng-click="refreshNoteList()" href="javascript:void(0);"
                      title=""
                      data-original-title="New"><i
                      class="fa fa-refresh"></i>
                    </button>
                        <button
                          class="btn btn-dark btn-icon" id="new-note" data-toggle="tooltip"
                          data-placement="right" ng-click="createNewNote()" href="javascript:void(0);" title=""
                          data-original-title="New"><i
                          class="fa fa-plus"></i>
                        </button>
          </span>

            <p class="h3">Notebook</p>

            <div class="input-group"><span class="input-group-addon "><i
              class="fa fa-search"></i></span> <input ng-model="search" type="text"
                                                      class="form-control "
                                                      id="search-note" placeholder="search"></div>
          </header>
          <section>
            <div class="note-list-items"> <!-- note list -->
              <ul id="note-items" class="list-group ">
                <li class="list-group-item note-list-item "
                    ng-repeat="note in notes | filter:search"
                    ng-class="{'note-button-active': $parent.active === note.id}">
                  <div class="note-item-content">
                    <div class="note-item-clickable" ng-click="activate(note.id, note.date)">
                      <div class="note-name"><span>{{note.name
                                            ||
                                            'Notebook ' + note.id}} </span>
                      </div>
                      <span class="note-button-date ">{{note.date}}</span>
                    </div>
                    <button class="destroy close"
                            ng-click="removeNote(note.id)">×
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </section>
        </section>
      </aside>
      <div id="note-shell" ng-class="{'note-shell':!asIframe, 'note-shell-full':asIframe}"
           style="background-image: -webkit-linear-gradient(top, rgb(240, 240, 240) 0%, white 5%);  background-position-x: 0px;
           background-position-y: 30px; background-size: 100% 40px; background-repeat-x: initial; background-repeat-y: initial;
           background-attachment: initial; background-origin: initial; background-clip: initial; background-color: #fff;"
        >
        <div
          class="note-date-top"><span ng-show="activeDate!=='none'">Created on
                    {{activeDate}}</span><span ng-show="asIframe" style="margin-left:2px">Linked view</span></div>
        <div
          class="note-tip"
          ng-if="active==='none'&& !asIframe"><span>Click on an existing Notebook or create a new
                    one</span></div>
        <div class="note-workspace" ng-include src="'views/notebooks.html'">
        </div>

      </div>
    </section>
  </section>
</div>
