body {
  background: white;
}


/**
 * Box and well
 */
.box{
  border: 1px solid white;
  min-height: 20px;
}

.box:hover,
.well:hover {
  background-color: #ffffff;
  border: 1px solid #DDDDDD;
}

.paragraph-col .focused{
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
}

.paragraph {
  min-height: 30px;
}

.paragraph-space {
  padding: 0px 2px 0px 2px !important;
}


.paragraph .control {
  visibility : hidden;
  right:15px;
  top: 6px;
}

.paragraph:hover .control {
  visibility : visible;
}

.noteAction span, .noteAction button, .noteAction form {
  visibility : hidden;
}

.noteAction:hover span, .noteAction:hover button, .noteAction:hover form {
  visibility : visible;
}
