/*
*Licensed to STRATIO (C) under one or more contributor license agreements.
*See the NOTICE file distributed with this work for additional information
*regarding copyright ownership.  The STRATIO (C) licenses this file
*to you under the Apache License, Version 2.0 (the
*"License"); you may not use this file except in compliance
*with the License.  You may obtain a copy of the License at
*
*  http://www.apache.org/licenses/LICENSE-2.0
*
*Unless required by applicable law or agreed to in writing,
*software distributed under the License is distributed on an
*"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
*KIND, either express or implied.  See the License for the
*specific language governing permissions and limitations
*under the License.
*/
/**
 * Licensed to STRATIO (C) under one or more contributor license agreements.
 * See the NOTICE file distributed with this work for additional information
 * regarding copyright ownership.  The STRATIO (C) licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.container{
  background-color:#444;
  height:100%;
  width:100%;
}

.stratio-notebook-login-block{
  margin-top:180px;
  max-width:350px;

}
#stratio-notebook-login-header{
  color: #00c7f7;
  font-size:2.5em;
  text-align: center;
}
.panel-heading{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 1em;
}
.form-signin{
  padding: 25px 20px 25px 20px;
  font-size: 1em;
}
#error{
  text-align: center;
}
#stratio-notebook-login-footer{
  color: #777;
  font-size:0.8em;
  text-align: center;
}
