body {
  background: white;
}

.labelBtn {
  display: none;
}

.new_h3 {
  margin-left: 220px;
  top: 0px;
  position: fixed;
}

.noteAction {
  border: 1px solid #3071a9;
  box-shadow: none;
}

.control {
  display: none;
}

.editor {
  display: none;
}

.form-horizontal {
  display: none;
}

.btn-group {
  display: none;
}

.box {
  border: none;
}

svg {
  margin-left: -20px;
}

.btn-link {
  display: none;
}